---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Akademik | SMK Bina Mandiri Kutabumi">
  <section class="py-24">
    <div class="max-w-7xl mx-auto px-6">

      <h1 class="text-4xl font-bold text-gray-800 mb-12">
        Akademik
      </h1>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
        
        <div class="bg-white rounded-2xl shadow p-6">
          <h2 class="font-semibold text-lg mb-2">Kurikulum Berbasis Industri</h2>
          <p class="text-gray-600 text-sm">
            Pembelajaran berbasis Industri dan penguatan metode pembejaran 90% praktik dan 10% teori.
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow p-6">
          <h2 class="font-semibold text-lg mb-2">Program Unggulan</h2>
          <p class="text-gray-600 text-sm">
            Teknik Komputer dan Jaringan, Bisnis Digital, dan Entrepreneurship.
          </p>
        </div>

        <div class="bg-white rounded-2xl shadow p-6">
          <h2 class="font-semibold text-lg mb-2">Ekstrakurikuler</h2>
          <p class="text-gray-600 text-sm">
            Robotik, coding, olahraga, seni, dan kewirausahaan.
          </p>
        </div>

      </div>

    </div>
  </section>
</MainLayout>
